.world-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.head-line {
    margin: 15px 0;
}

.bg-primary,
.bg-success,
.bg-secondary,
.bg-info,
.bg-danger,
.bg-warning {
    color: #ffffff;
}
span.badge-update {
    font-size: 9px;
    background: #888;
    padding: 3px 5px;
    border-radius: 10px;
    color: #fff;
    /* float: right; */
    margin-left: 12px;
}
@media (max-width: 990px) and (min-width: 501px) {
    .world-block {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .world-block {
        grid-template-columns: repeat(1, 1fr);
    }
}