/* body {
  font-family: 'Raleway', sans-serif;
}
 */

.navbar-nav {
  display: block;
}

.nav-item {
  display: inline-block;
  margin-left: 10px;
}

.footer {
  background: #333;
  margin-top: 30px;
  padding: 20px 10%;
  color: #fff;
}